@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
	font-family: 'Hibana 45 SubMedium';
	src: url('../../../public/Hibana-45SubMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'zpix';
	src: url('../../../public/zpix.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html,
input,
textarea {
	font-family: 'zpix';
	letter-spacing: 0.15em;
}

p {
	font-family: 'Hibana 45 SubMedium';
}

body {
	@apply text-gray-700 dark:text-slate-400;
}

.block-bg {
	@apply py-2 m-2  shadow-lg rounded bg-indigo-50  bg-opacity-30 dark:bg-black dark:bg-opacity-10 dark:shadow-slate-900 duration-500;
}

input,
textarea {
	@apply bg-slate-50 dark:bg-slate-700 bg-opacity-50 dark:bg-opacity-30 focus:outline-none p-0.5 shadow;
}
textarea {
	@apply indent-8;
}
.h-btn {
	@apply rounded border px-3 py-0.5 text-sm bg-slate-200 bg-opacity-90 shadow-sm hover:bg-slate-100 dark:bg-slate-600 dark:bg-opacity-30 dark:hover:bg-slate-700 dark:border-slate-500  duration-300;
}
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
	background: transparent;
}
::selection {
	background: #344449;
	color: #fff;
	text-shadow: none;
}

.slide-fade-enter-active {
	transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
	transform: translateX(-20px);
	opacity: 0;
}
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}
