@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
	font-family: 'Hibana 45 SubMedium';
	src: url('../../../public/Hibana-45SubMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: 'Hibana 45 SubMedium';
}

body {
	@apply text-gray-700 dark:text-slate-400;
}

.block-bg {
	@apply py-2 m-2  shadow-lg rounded bg-indigo-50  bg-opacity-30 dark:bg-black dark:bg-opacity-10 dark:shadow-slate-900 duration-500;
}
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
	background: transparent;
}
::selection {
	background: #344449;
	color: #fff;
	text-shadow: none;
}

.slide-fade-enter-active {
	transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
	transform: translateX(-20px);
	opacity: 0;
}
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}
