.menu-btn {
	@apply relative flex justify-center items-center w-4 h-4 cursor-pointer duration-500;
}

.menu-btn__burger {
	@apply w-4 h-0.5 bg-slate-500 rounded-lg;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	@apply w-4 h-0.5 bg-slate-500 rounded-lg;
	content: '';
	position: absolute;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-6px);
}
.menu-btn__burger::after {
	transform: translateY(6px);
}

.menu-btn.open .menu-btn__burger {
	transform: translateX(-100%);
	background: transparent;
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(12px, -12px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(12px, 12px);
}
